/************************** Fonts **************************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/************************** Global **************************/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-color: #2d2c2c;
    --black-transparent: rgba(10, 10, 10, .7);
    --smooth-line : rgba(78, 78, 78, 0.5);
    --transparent-line : rgba(78, 78, 78, 0.1);
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins','Open Sans', sans-serif;
    font-size: 1.6rem;
    color: var(--dark-color);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 5rem;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

picture {
    width: 100%;
    height: 100%;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 4rem;
}

/************************** Gallery **************************/
.img-window {
    width: 100vw;
    height: 100vh;
    background: var(--black-transparent);
    box-shadow: rgba(10, 10, 10, 0.25) 0px 24px 50px 0px;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.img-window img {
    max-width: 60vw;
    max-height: 80vh;
}

.img-window-logo {
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, .8);
    box-shadow: rgba(10, 10, 10, 0.25) 0px 24px 50px 0px;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.img-window-logo img {
    max-width: 60vw;
    max-height: 80vh;
}

.img-btn-prev .fa-chevron-circle-left, .img-btn-next .fa-chevron-circle-right {
    position: fixed;
    top: 48vh;
    z-index: 2100;
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
}

.img-window-logo ~ .img-btn-prev .fa-chevron-circle-left, .img-window-logo ~ .img-btn-next .fa-chevron-circle-right {
    color: #000;
}

/************************** Cover Section **************************/
.cover {
    position: relative;
    margin-top: 12.5vh;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

.slider {
    position: relative;
    width: 500%;
    height: 100%;
    display: flex;
    transform: translateX(-20%);
}

.slide {
    z-index: 1;
    position: relative;
    width: 20%;
    height: 100%;
}

.slide::before {
    z-index: 0;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
}


.slide-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navigation {
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 2.5%;
    transform: translateY(-50%);
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider-btn { 
    font-size: 1.5rem;
    background: rgba(255, 255, 255, .8);
    border-radius: 2rem;
    box-shadow: 0 0 2px rgba(0, 0, 0, .5);
    padding: .7rem;
    cursor: pointer;
}

.prev-btn {
    padding-left: .6rem;
}

.next-btn {
    padding-right: .6rem;
}

.navigation-visibility {
    display: none;
}

/************************** Home - Content **************************/
.content {
    position: relative;
    padding-top: 12.5vh;
    width: 100%;
    min-height: 100%;
    background: url("../images/background_small.jpg") center;
    background-size: cover;
}

.fa-chevron-circle-up {
    z-index: 999;
    position: fixed;
    bottom: 2.5vh;
    right: 2.5vw;
    font-size: 3.5rem;
    opacity: 0;
}

.fa-chevron-circle-up.on {
    opacity: 1;
    transition: opacity .5s;
}

/************************** Intro section **************************/
.intro .container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.intro-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .4;
}

.intro-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 3rem 3rem;
}

.intro-text h1 {
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
}

.intro-text p {
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
}

.scroll-down {
    z-index: 0;
    position: absolute;
    width: 5rem;
    height: 8rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow span {
    display: block;
    width: 3rem;
    height: 3rem;
    border: 4px solid transparent;
    border-right-color: var(--dark-color);
    border-bottom-color: var(--dark-color);
    transform: rotate(45deg);
    animation: arrow-down 3s linear infinite;
}

@keyframes arrow-down {
    0% {
        opacity: 0;
        transform: translateY(-100%) rotate(45deg);
    }
    25% {
        opacity: .25;
        transform: translateY(-25%) rotate(45deg);
    }
    50% {
        opacity: .5;
        transform: translateY(50%) rotate(45deg);
    }
    75% {
        opacity: .75;
        transform: translateY(125%) rotate(45deg);
    }
    100% {
        opacity: 1;
        transform: translateY(200%) rotate(45deg);
    }
}

/************************** Home - Partners section **************************/
.partners {
    margin-top: 7.5rem;
    position: relative;
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.partners .title {
    margin-bottom: 2rem;
}

.featured-partner {
    position: relative;
}

.partner-logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: rgba(10, 10, 10, 0.25) 0px 24px 50px 0px;
}

.partner-info {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 5px;
}

.partner-name {
    font-size: 2rem;
}

.partner-info p {
    font-size: 1.5rem;
}

.partners .plus {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    margin-top: 2rem;
}

.plus .dots {
    padding: .5rem;
    margin-top: 1.5rem;
}

/************************** Skills section **************************/
.skills {
    position: relative;
    padding: 0 2rem;
    padding-top: 12.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-grid {
    grid-template-columns: 1fr;
    gap: 5rem;
}

.featured-skill {
    position: relative;
}

.skill-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: rgba(10, 10, 10, 0.25) 0px 24px 50px 0px;
}

.skill-info {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #fff;
}

.skill-info::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    border-radius: 10px;
    z-index: -1;
}

.skill-name {
    font-size: 2.2rem;
    font-weight: bold;
}

.skill-info ul {
    text-align: center;
    font-size: 2rem;
}

.skill-info li {
    padding: .5rem;
}

.skill-info li:last-child {
    position: relative;
    font-size: 1rem;
}

.skill-info li:last-child .fa-ellipsis-h {
    position: absolute;
    bottom: .75rem;
    padding-left: .5rem;
}

/************************** Clients section **************************/
.clients {
    position: relative;
    padding: 0 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients-grid {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5rem;
}

.featured-client {
    position: relative;
    display: flex;
    height: 10rem;
}

.client-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: zoom-in;
}

/************************** Works section **************************/
.works {
    position: relative;
    padding: 0 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.works .heading {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: .5rem;
}

.heading h2 {
    font-size: 4rem;
}

.heading p {
    padding: 1rem;
    color: var(--dark-color);
    opacity: .8;
    font-size: 2rem;
}

.works-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5rem;
}

.featured-work {
    position: relative;
    display: flex;
}

.featured-work picture {
    width: fit-content;
}

.work-logo {
    width: 100%;
    height: 100%;
    cursor: zoom-in;
}